<div class="d-flex main-cell cell-borders m-0 p-0 text-nowrap flex-column flex-grow-1 text-center col-12"
 style="background-color: rgb(250, 250, 250);line-height: 2.4;margin-top: 10px;padding: 1px;">
<span class="blue-bg">{{project.title}}</span>
<span class="blue-bg">{{project.title1}}</span>
<span class="blue-bg">{{project.summary}}</span>
<span class="blue-bg">{{project.class}}</span>
<span class="blue-bg">{{project.rating}}</span>
<span class="blue-bg">{{project.startDate}}</span>
<span class="blue-bg">{{project.endDate}}</span>
<span class="blue-bg" >{{project.date}}</span>
<span class="orange-bg" style="margin-top: 6px;">{{project.time}}</span>
<span class="orange-bg">{{project.school}}</span>
<span class="orange-bg">{{project.notes}}</span>
<span class="orange-bg">{{project.presentation_clarity}}</span>
<span class="orange-bg">{{project.work_quality}}</span>
<span class="orange-bg">{{project.companionship}}</span>
<span class="orange-bg">{{project.progression_percentage}}</span>
<span class="orange-bg">{{project.students}}</span>
<span class="orange-bg">{{project.teacherId}}</span>
</div>
