<div class="d-flex main-cell cell-borders m-0 p-0 text-nowrap flex-column flex-grow-1 text-center col-12"
 style="background-color: rgb(250, 250, 250);line-height: 2.4;margin-top: 10px;padding: 1px;">
<span class="blue-bg" *ngIf="project.title">{{project.title}}</span>
<span class="blue-bg" *ngIf="project.notes">{{project.notes}}</span>

<span class="blue-bg" *ngIf="project.title1">{{project.title1}}</span>
<span class="blue-bg" *ngIf="project.summary">{{project.summary}}</span>


<span class="blue-bg" *ngIf="project.class">{{project.class}}</span>
<span class="blue-bg" *ngIf="project.rating">{{project.rating}}</span>
<span class="blue-bg" *ngIf="project.steps">{{project.steps}}</span>
<span class="blue-bg" *ngIf="project.objectives">{{project.objectives}}</span>
<span class="blue-bg" *ngIf="project.materialsAndTools">{{project.materialsAndTools}}</span>
<span class="blue-bg" *ngIf="project.startDate">{{project.startDate}}</span>
<span class="blue-bg" *ngIf="project.endDate">{{project.endDate}}</span>
<span class="orange-bg" style="margin-top: 6px;" *ngIf="project.evaluationCriteria">{{project.evaluationCriteria}}</span>

<span class="orange-bg" *ngIf="project.date">{{project.date}}</span>
<span class="orange-bg" *ngIf="project.time">{{project.time}}</span>
<span class="orange-bg" *ngIf="project.description">{{project.description}}</span>

<span class="orange-bg" *ngIf="project.school">{{project.school}}</span>


</div>
