<div class="d-flex cell-borders flex-column flex-grow-1 text-center" style="background-color: lightblue;width: 300px;">
<span *ngIf="project.title">{{project.title}}</span>
<span *ngIf="project.title1">{{project.title1}}</span>
<span *ngIf="project.summary">{{project.summary}}</span>
<span *ngIf="project.description">{{project.description}}</span>
<span *ngIf="project.class">{{project.class}}</span>
<span *ngIf="project.rating">{{project.rating}}</span>
<span *ngIf="project.steps">{{project.steps}}</span>
<span *ngIf="project.objectives">{{project.objectives}}</span>
<span *ngIf="project.evaluationCriteria">{{project.evaluationCriteria}}</span>
<span *ngIf="project.materialsAndTools">{{project.materialsAndTools}}</span>
<span *ngIf="project.startDate">{{project.startDate}}</span>
<span *ngIf="project.endDate">{{project.endDate}}</span>
<span *ngIf="project.date">{{project.date}}</span>
<span *ngIf="project.time">{{project.time}}</span>
<span *ngIf="project.school">{{project.school}}</span>
<span *ngIf="project.notes">{{project.notes}}</span>
<span *ngIf="project.presentation_clarity">{{project.presentation_clarity}}</span>
<span *ngIf="project.work_quality">{{project.work_quality}}</span>
<span *ngIf="project.companionship">{{project.companionship}}</span>
<span *ngIf="project.progression_percentage">{{project.progression_percentage}}</span>
<span *ngIf="project.students">{{project.students}}</span>
<span *ngIf="project.teacherId">{{project.teacherId}}</span>
<span *ngIf="project._createdDate">{{project._createdDate}}</span>
<span *ngIf="project._id">{{project._id}}</span>
<span *ngIf="project._owner">{{project._owner}}</span>
<span *ngIf="project._updatedDate">{{project._updatedDate}}</span>
</div>
