<div *ngIf="isLoading;else mainContent" class="d-flex justify-content-center w-100 " style="margin-top: 30vh;">
  <div class="card" style="background-color: unset !important; border: unset !important;">
       <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)" animationDuration="1s"></p-progressSpinner>
   </div>
</div>

<ng-template #mainContent>
  <div class="bg-transparent">
    <p-table
    #dt
    [value]="projects"
    [columns]="selectedColumns"
    [globalFilterFields]="['title','title1','summary','school','teacherid','students','class','startDate','endDate','date','time','progression_percentage','notes','presentation_clarity','work_quality','innovation','companionship','rating']"
    dataKey="title1"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
    [scrollable]="true"
    scrollHeight="400px"
    [rowHover]="true"
    [rows]="5"
    class="bg-transparent"
    [tableStyle]="{'min-width':'50rem','background-color':'transparent'}"
    styleClass="p-datatable-sm p-datatable-striped"
    [paginator]="true"
    [columnResizeMode]="''"
    (onEditComplete)="Edited($event)"
    [filterLocale]="'ar'"
    >
    <ng-template pTemplate="caption">
      <div class="d-flex align-items-center gap-2 justify-content-between">
        <p-multiSelect [options]="allColumns" [pTooltip]="'الأعمدة المرئية'" [(ngModel)]="selectedColumns" optionLabel="header"
            selectedItemsLabel="{0} اعمده محدده" [style]="{'min-width': '300px'}" (ngModelChange)="ColumnsChanged()"   placeholder="اختيار الأعمدة"></p-multiSelect>
        <h3 *ngIf="errorHappened" class="text-danger">ليس لديك صلاحيه لتنفيذ الأمر</h3>
        <h3 *ngIf="multipleroles" class="text-primary">لديك اكثر من role واحد</h3>
        <div class="d-flex justify-content-center align-items-center gap-2">
        <p-button *ngIf="isAdmin" styleClass="rounded rounded-4"severity="success" [icon]="'pi pi-save'"  [pTooltip]="'حفظ'" (onClick)="Save()"></p-button>
          <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="filter($event,dt)" placeholder="Search..." />
          </span>
        </div>
      </div>
    </ng-template>
    
    <ng-template pTemplate="header">
        <tr>
          <th *ngIf="IsSelected('title')" pFrozenColumn>
            <div class="flex align-items-center">
              أسم المشروع
                <p-columnFilter type="text" field="title" display="menu"></p-columnFilter>
            </div>
          </th>

          <th *ngIf="IsSelected('title1')">
            <div class="flex align-items-center">
              رقم المشروع
                <p-columnFilter type="text" field="title1" display="menu"></p-columnFilter>
            </div>
          </th>

          <th *ngIf="IsSelected('summary')">
            <div class="flex align-items-center">
              تلخيص المشروع
              <p-columnFilter type="text" field="summary" display="menu"></p-columnFilter>
            </div>
          </th>

          <th *ngIf="IsSelected('school') && !isSchool && !isTeacher && !isStudent">
            <div class="flex align-items-center">
              المدرسه
              <p-columnFilter field="school" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                <ng-template pTemplate="header">
                    <div class="px-3 pt-3 pb-0">
                        <span class="font-bold">اختيار المدرسه</span>
                    </div>
                </ng-template>
                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                    <p-multiSelect [ngModel]="value" [options]="schools" placeholder="Any" (onChange)="filter($event.value)" optionValue="_id" optionLabel="schoolName">
                        <ng-template let-option pTemplate="item">
                            <div class="inline-block vertical-align-middle">
                                <span class="ml-1 mt-1">{{ option.schoolName }}</span>
                            </div>
                        </ng-template>
                    </p-multiSelect>
                </ng-template>
              </p-columnFilter>
            </div>
          </th>

          <th *ngIf="IsSelected('teacherid') && !isTeacher">
            <div class="flex align-items-center">
              المشرف
              <p-columnFilter field="teacherid" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                <ng-template pTemplate="header">
                    <div class="px-3 pt-3 pb-0">
                        <span class="font-bold">اختيار المشرف</span>
                    </div>
                </ng-template>
                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                    <p-multiSelect [ngModel]="value" [options]="teachers" placeholder="Any" (onChange)="filter($event.value)" optionValue="teacherId" optionLabel="teacherName">
                        <ng-template let-option pTemplate="item">
                            <div class="inline-block vertical-align-middle">
                                <span class="ml-1 mt-1">{{ option.teacherName }}</span>
                            </div>
                        </ng-template>
                    </p-multiSelect>
                </ng-template>
            </p-columnFilter>
            </div>
          </th>

          <th *ngIf="IsSelected('students')">
          <div class="flex align-items-center">
            الطلاب
            <p-columnFilter field="students" matchMode="containsStudent" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
              <ng-template pTemplate="header">
                  <div class="px-3 pt-3 pb-0">
                      <span class="font-bold">اختيار الطلاب</span>
                  </div>
              </ng-template>
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                  <p-multiSelect [ngModel]="value" [options]="students" placeholder="Any" (onChange)="filter($event.value)" optionLabel="studentName">
                      <ng-template let-option pTemplate="item">
                          <div class="inline-block vertical-align-middle">
                              <span class="ml-1 mt-1">{{ option.studentName }}</span>
                          </div>
                      </ng-template>
                  </p-multiSelect>
              </ng-template>
          </p-columnFilter>
          </div>
          </th>

          <th *ngIf="IsSelected('class')">
          <div class="flex align-items-center">
            الصف
              <p-columnFilter type="numeric" field="class" display="menu"></p-columnFilter>
          </div>
          </th>

          <th *ngIf="IsSelected('startDate')">
          <div class="flex align-items-center">
            تاريخ البدء
              <p-columnFilter type="text" field="startDate" display="menu"></p-columnFilter>
          </div>
          </th>

          <th *ngIf="IsSelected('endDate')">
          <div class="flex align-items-center">
            تاريخ النهايه
              <p-columnFilter type="text" field="endDate" display="menu"></p-columnFilter>
          </div>
          </th>

          <th *ngIf="IsSelected('date')">
        <div class="flex align-items-center">
          تاريخ العرض
            <p-columnFilter type="text" field="date" display="menu"></p-columnFilter>
        </div>
          </th>

          <th *ngIf="IsSelected('time')">
            <div class="flex align-items-center">
              وقت العرض
                <p-columnFilter type="text" field="time" display="menu"></p-columnFilter>
            </div>
          </th>

          <th style="background-color: #effee3db;" *ngIf="IsSelected('progression_percentage')">
            <div class="flex align-items-center">
              نسبة الأنجاز
              <p-columnFilter type="numeric" field="progression_percentage" display="menu"></p-columnFilter>
            </div>
          </th>

          <th style="background-color: #effee3db;" *ngIf="IsSelected('notes')">
            <div class="flex align-items-center">
              ملاحظات
              <p-columnFilter type="text" field="notes" display="menu"></p-columnFilter>
            </div>
          </th>

          <th style="background-color: #effee3db;" *ngIf="IsSelected('presentation_clarity')">
            <div class="flex align-items-center">
              وضوح العرض
              <p-columnFilter type="numeric" field="presentation_clarity" display="menu"></p-columnFilter>
            </div>
          </th>

          <th style="background-color: #effee3db;" *ngIf="IsSelected('work_quality')">
            <div class="flex align-items-center">
              جودة العمل
              <p-columnFilter type="numeric" field="work_quality" display="menu"></p-columnFilter>
            </div>
          </th>
          
          <th style="background-color: #effee3db;" *ngIf="IsSelected('innovation')">
            <div class="flex align-items-center">
              الأصالة والإبداع
              <p-columnFilter type="numeric" field="innovation" display="menu"></p-columnFilter>
            </div>
          </th>

          <th style="background-color: #effee3db;" *ngIf="IsSelected('companionship')">
        <div class="flex align-items-center">
          الشراكة والتعاون
          <p-columnFilter type="numeric" field="companionship" display="menu"></p-columnFilter>
        </div>
          </th>

          <th style="background-color: #effee3db;" *ngIf="IsSelected('rating')">
        <div class="flex align-items-center">
          العلامة النهائية
          <p-columnFilter type="numeric" field="rating" display="menu"></p-columnFilter>
        </div>
          </th>

          <th>
            <div *ngIf="selectedColumns.length != 0 && isAdmin" class="d-flex justify-content-center px-1" style="width: fit-content;">
              الأوامر
            </div>
          </th>

        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-product let-editing="editing">
        {{product | json}}
    </ng-template>

    <ng-template pTemplate="paginatorright">
          <p-button styleClass="rounded rounded-4" *ngIf="isAdmin" size="small" [icon]="'pi pi-plus'" [pTooltip]="'اضافة'" (onClick)="AddEntry()"></p-button>
    </ng-template>

    <ng-template pTemplate="paginatorleft">
        <div class="mx-auto"></div>
    </ng-template>
    </p-table>
  </div>
</ng-template>
