<div *ngIf="isLoading;else mainContent" class="d-flex justify-content-center w-100 " style="margin-top: 30vh;">
  <div class="card" style="background-color: unset !important; border: unset !important;">
       <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)" animationDuration="1s"></p-progressSpinner>
   </div>
</div>

<ng-template #mainContent>

  <div class="d-flex flex-row-reverse">
    <div class="border border-5 border-danger-subtle">

      <app-project-card [project]="{

        title:'اسم المشروع',
        title1:'رقم المشروع',
        summary:'تلخيص المشروع',
        description:'وصف المشروع',
        class:'الصف',
        rating:'التقييم',
        steps:'الخطوات',
        objectives:'الاهداف',
        evaluationCriteria:'نسبة التقييم',
        materialsAndTools:'الادوات',
        startDate:'تاريخ البدء',
        endDate:'تاريخ الأنتهاء',
        date:'تاريخ',
        time:'الوقت',
        school:'المدرسة',
        notes:'الملاحظات',
        presentation_clarity:'جوده العرض',
        work_quality:'جودة العمل',
        companionship:'التعاون',
        progression_percentage:'نسبه الأنجاز',
        students:'الطلاب',
        teacherId:'المعلم',
        _createdDate:'',
        _id:'',
        _owner:'',
        _updatedDate:''
      }"></app-project-card>
    </div>
    <div class="d-flex flex-row overflow-x-scroll justify-content-around">
      <app-project-card *ngFor="let project of projects" [project]="project"></app-project-card>
    </div>
  </div>
</ng-template>
