

.projetsCardsHolder{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
    padding-top: 1em;
    .project-card{
        width: 100%;
        max-width: 350px;
        background-image: url(https://static.vecteezy.com/system/resources/previews/045/890/056/non_2x/landscape-illustration-of-arabian-sand-desert-with-dunes-free-vector.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 1.5em 1em;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        transition: transform .3s ease;
        &:hover{
            transform: scale(1.06);
        }
        img{
            width: 100%;
            margin-top: 5px;
            margin-bottom: 10px;
        }
        .teacherName{
            font-size: 1.5em;
            margin-bottom: 0;
            margin-top: 1.4em;
        }
        .projectNumber{
            font-size: 1.2em;
            display: flex;
            justify-content: center;
            row-gap: 4px;
            font-weight: 600;
            flex-direction: column;
            span{
                background-color: white;
                padding: .1em  1em;
                border-radius: 50px;
                font-size: .85em;
                text-align: center;
            }
        }
        .remainingTime{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 0;
            margin-top: 2em;
            strong{
                font-size: 1.1em;
                margin-bottom: 7px;
                font-weight: 400;
            }
            span{
                background-color: #0BDA51;
                padding: .4em 1.5em;
                border-radius: 50px;
                font-weight: 600;
            }
            .time-over{
                background-color: #C70039;
                color: white;
            }
        }
        
    }
}

.switchBtn {
    display: block;
    margin: 1em auto;
    outline: none;
    border: none;
    background-color: rgb(255 204 42);
    padding: 1em 2em ;
    border-radius: 50px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    font-weight: 600;
    background-image: url(https://static.vecteezy.com/system/resources/previews/045/890/056/non_2x/landscape-illustration-of-arabian-sand-desert-with-dunes-free-vector.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    span{
        background-color: white;
        width: 25px;
        border-radius: 50px;
    }
}

.projectDataHolder{
    width: 100%;
    display: flex;
    border-top: 2px solid rgb(229 228 244);
    min-height: 100vh;
    @media (max-width:500px){
        flex-wrap: wrap;
    }
    .leftSide{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: end;
        padding: 1em;
        .gobackbtnholder{
            width: 100%;
            display: flex;
            justify-content: start;
        }
        .gobacktohome{
            width: 200px;
            outline: none;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgb(229, 228, 244);
            border: 1px solid black;
            border-radius: 40px;
            column-gap: 5px;
            padding: .6em 0;
            transition: transform .3s ease;
            &:hover{
                transform: scale(1.06);
            }
            img{
                width: 16px;
                margin-bottom: -.1em;
            }
        }
        .banner{
            background-image: url(https://static.vecteezy.com/system/resources/previews/045/890/056/non_2x/landscape-illustration-of-arabian-sand-desert-with-dunes-free-vector.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            width: 100%;
            height: 250px;
            margin-top: 20px;
            border-radius: 20px;
            padding: 1em;
            display: flex;
            font-size: 2em;
            font-weight: 700;
            padding-left: 2em;
            justify-content: space-between;
            span{
                font-size: 1.5em;
            }
            img{
                width: 100%;
                max-width: 230px;
            }
            @media (max-width:500px){
                flex-wrap: wrap;
                padding: 1em;
                height: auto;
                justify-content: center;
                span{
                    font-size: 1em;
                }
            }
        }
        .selectedProjectAnalyse{
            display: flex;
            width: 100%;
            margin-top: 1em;
            @media (max-width:500px){
                flex-wrap: wrap;
            }
            & > div {
                &:nth-child(1){
                    border: 2px solid rgb(229, 228, 244);
                    padding: 1em;
                    border-radius: 10px;
                    width: 100%;
                    max-width: 350px;
                    display: flex;
                    flex-direction: column;
                    height: fit-content;
                    & > span{
                        font-weight: 700;
                        font-size: 1.3em;
                        margin-bottom: 1.5em;
                        
                        img{
                            width: 25px;
                            margin-right: 10px  ;
                        }
                    }
                    & > div {
                        position: relative;
                        span{
                            position: absolute;
                            font-weight: 700;
                            color: rgb(191 192 227);
                            &:nth-child(1){
                                bottom:-15px;
                                transform: translateX(-50%);
                                left: 50%;
                            }
                            &:nth-child(3){
                                top:-15px;
                                transform: translateX(-50%);
                                left: 50%;
                            }
                            &:nth-child(2){
                                left:10px;
                                transform: translateY(-50%);
                                top: 50%;
                            }
                            &:nth-child(4){
                                right:10px;
                                transform: translateY(-50%);
                                top: 50%;
                            }
                        }
                    }
                    .remainingTime{
                        margin-top: 2em;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 5px;
                        strong{
                            font-size: 1.2em;
                        }
                        span{
                            color: #C70039;
                            font-weight: 600
                            ;direction: rtl;
                        }
                    }
                }
                &:nth-child(2){
                    @media (max-width:500px){
                        flex-wrap: wrap;
                        padding-top: 3em;
                    }
                    .section1percentages{
                        display: flex;
                        flex-flow: row wrap;
                        flex-grow: 1;
                        justify-content: center;
                        div{
                            display: flex;
                            column-gap: 40px;
                            @media (max-width:500px){
                                flex-wrap: wrap;
                                justify-content: center ;
                            }
                        }
                    }
                    .section2percentages{
                        display: flex;
                        justify-content: center;
                    }
                }
            }
        }
    }
    .rightSide{
        background-color: rgb(229 228 244);
        width: 450px;
        direction: rtl;
        padding: 2em;
        @media screen and (max-width:500px){
            display: none;
        }
        .selectedProjectNumber{
            font-size: 1.5em;
            display: flex;
            font-weight: 700;
            align-items: center;
            column-gap: 5px;
        }
        .seperator{
            border: 1px solid rgba(0, 0, 0, 0.579);
            margin: 1em 0;
            border-radius: 70px;
        }
        .selectedProjectStudents{
            label{
                display: flex;
                align-items: center;
                column-gap: 4px;
                font-weight: 700;
                font-size: 1.3em;
                margin-bottom: .7em;
                img{
                    width: 30px;
                    background-color: white;
                    padding: .2em;
                    border-radius: 10px;
                    margin-top: .2em;
                }
            }
            span{
                display: block;
                background-color: white;
                padding: .5em 1em;
                margin-bottom: .4em;
                border-radius: 60px;
                text-align: right;
                font-weight: 600;
                cursor: pointer;
                border: 1px solid black;
            }
        }
        .selectedProjectNote{
            margin-top: 1em;
            label{
                display: flex;
                align-items: center;
                column-gap: 4px;
                font-weight: 700;
                font-size: 1.3em;
                margin-bottom: .7em;
                img{
                    width: 30px;
                    background-color: white;
                    padding: .2em;
                    border-radius: 10px;
                    margin-top: .2em;
                }
            }
            p{
                background-image: url(https://img.freepik.com/premium-photo/notebook-paper-background-lined-notebook-paper-crumpled-paper-background_322958-5175.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                min-height: 300px;
                padding: 1em;
                padding-left: 2em ;
                border-radius: 10px;
                max-width: 100%;
                line-height: 25px;
                font-weight: 500;
            }
        }
        .selectedProjectTeacher{
            img{
                width: 30px;
                border-radius: 10px;
                background-color: white;
            }
            font-size: 1.3em;
            font-weight: 700;
            display: block;
            margin: .5em 0;
        }
    }
    .rightSideMobile{
        background-color: rgb(229 228 244);
        width: 100%;
        direction: rtl;
        padding: 2em;
        margin: .5em 0;
        border-radius: 10px;
        @media screen and (min-width:500px){
            display: none;
        }
        .selectedProjectNumber{
            font-size: 1.5em;
            display: flex;
            font-weight: 700;
            align-items: center;
            column-gap: 5px;
        }
        .seperator{
            border: 1px solid rgba(0, 0, 0, 0.579);
            margin: 1em 0;
            border-radius: 70px;
        }
        .selectedProjectStudents{
            label{
                display: flex;
                align-items: center;
                column-gap: 4px;
                font-weight: 700;
                font-size: 1.3em;
                margin-bottom: .7em;
                img{
                    width: 30px;
                    background-color: white;
                    padding: .2em;
                    border-radius: 10px;
                    margin-top: .2em;
                }
            }
            span{
                display: block;
                background-color: white;
                padding: .5em 1em;
                margin-bottom: .4em;
                border-radius: 60px;
                text-align: right;
                font-weight: 600;
                cursor: pointer;
                border: 1px solid black;
            }
        }
        .selectedProjectNote{
            margin-top: 1em;
            label{
                display: flex;
                align-items: center;
                column-gap: 4px;
                font-weight: 700;
                font-size: 1.3em;
                margin-bottom: .7em;
                img{
                    width: 30px;
                    background-color: white;
                    padding: .2em;
                    border-radius: 10px;
                    margin-top: .2em;
                }
            }
            p{
                background-image: url(https://img.freepik.com/premium-photo/notebook-paper-background-lined-notebook-paper-crumpled-paper-background_322958-5175.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                min-height: 300px;
                padding: 1em;
                padding-left: 2em ;
                border-radius: 10px;
                max-width: 100%;
                line-height: 25px;
                font-weight: 500;
            }
        }
        .selectedProjectTeacher{
            img{
                width: 30px;
                border-radius: 10px;
                background-color: white;
            }
            font-size: 1.3em;
            font-weight: 700;
            display: block;
            margin: .5em 0;
        }
    }
}


.progress {
    position: absolute;   
    height: 160px;
    width: 160px;
    cursor: pointer;
    top: 50%;
    left: 50%;
    margin: -80px 0 0 -80px;
}

.progress-circle {
  transform: rotate(-90deg);
	margin-top: -40px;
}

.progress-circle-back {
	fill: none; 
	stroke: #D2D2D2;
	stroke-width:10px;
}

.progress-circle-prog {
	fill: none; 
	stroke: #7E3451;
	stroke-width: 10px;  
	stroke-dasharray: 0 999;    
	stroke-dashoffset: 0px;
    transition: stroke-dasharray 0.7s linear 0s;
}

.progress-text {
	width: 100%;
	position: absolute;
	top: 60px;
	text-align: center;
	font-size: 2em;
}