/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

html{
    @media screen and (min-width:600px){
        overflow: hidden;
    }
}


@font-face {
    font-family: 'HaecnTunisia';
    src: url('/assets/fonts/custom-font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  // Optionally, define a bold style if needed
  @font-face {
    font-family: 'HaecnTunisia';
    src: url('/assets/fonts/custom-font-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  // Apply globally in styles.scss
  body {
    font-family: 'HaecnTunisia', sans-serif;
  }